.bg-fish {
  background: #ecf0f1;
  transition: all 0.3s ease;
  flex-grow: 1;
}

.bg-fish:hover {
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 14px 6px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 14px 6px 0 rgba(0, 0, 0, 0.25);
}

.pointer {
  cursor: pointer;
}
